.card-game {
    width: 130px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-escuro);
    border: 4px solid #fff;
    box-sizing: border-box;
}

.card-game > .card-img{
    width: 50%;
}